<div class="sidebar-opener" (click)="sidebarShow = !sidebarShow">
    <svg xmlns="http://www.w3.org/2000/svg" width="66" height="66" fill="currentColor" class="bi bi-list"
        viewBox="0 0 26 26">
        <path fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
    </svg>
</div>
<div class="sidebar-slider" [class.sidebar-slide-in]="sidebarShow">
    <div class="sidebar-close" (click)="sidebarShow = !sidebarShow">
        X
    </div>
    <div class="sidebar-content">
        <div (click)="sidebarShow = !sidebarShow"><a>Home Page </a></div>
        <div (click)="sidebarShow = !sidebarShow">
            <a routerLink="/GetVehicles">Search vehicle</a>
        </div>
        <div (click)="sidebarShow = !sidebarShow">
            <a routerLink="/Filters">All Vehicles</a>
        </div>
        <div (click)="sidebarShow = !sidebarShow">
            <a routerLink="/create">Create</a>
        </div>
        <div (click)="sidebarShow = !sidebarShow"> <a>Downloads </a></div>
        <div (click)="sidebarShow = !sidebarShow"><a> Contact Us</a></div>
    </div>
</div>
<div class="container my-4">

</div>